---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <a href="/" class="logo-readium"><span class="logo" style="background-image: url({{ site.email | get_gravatar }}?s=100&d=identicon)"></span></a>

    <div class="page-content">
      <div class="wrapper">

        <div class="teaserimage">
            <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
                Teaser Image
            </div>
        </div>

        <header class="blog-header">
          <h1 class="blog-title">{{ site.title }}</h1>
          <h2 class="blog-description">{{ site.description }}</h2>
          {% include nav_bar.html %}
        </header>

        <main class="content" role="main">
          {{ content }}
        </main>

      </div>
    </div>

    {% include page_footer.html %}
    {% include javascripts.html %}

  </body>

</html>
