---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/Article">

    <a href="/" class="logo-readium"><span class="logo" style="background-image: url({{ 'tomhenderson@mac.com' | get_gravatar }}?s=100}})"></span></a>

    <main class="content" role="main">
      <article class="post">

        {% include header.html %}

        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>


        {% include post_footer.html %}

      </article>
    </main>


    {% include footer.html %}
    {% include javascripts.html %}
  </body>
</html>
