---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/Article">

    <a href="/" class="logo-readium"><span class="logo" style="background-image: url({{ site.avatar }})"></span></a>

    <main class="content" role="main">
      <article class="post">

        {% include header.html %}

        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>


        {% include post_footer.html %}

        {% if page.comments %}
        {% include disqus.html %}
        {% endif %}

      </article>
    </main>

    {% include javascripts.html %}
    {% include analytics.html %}
  </body>
</html>
